.spreadsheet {
  $selected: #646464;
  $background: #eaeaea;
  font-family: verdana;

  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  table {
    table-layout: fixed;
    position: absolute;
    border-spacing: 0;
    cursor: default;
  }
  td, th {
    font-weight: normal;
    border: 1px solid $background;
    white-space: pre-wrap;
    div {
      white-space: nowrap;
      pointer-events: none;
    }
  }

  // scroll bars
  .scroll-corner { z-index: 110; }
  .xscroll, .yscroll { z-index: 100; }
  
  // data cells
  td.selected div {
    background: #FFFFFF;
    position: relative;
    z-index: 9;
  }
  td.overflowing-from { border-right: 1px solid transparent; }
  td.overflowing-into { border-left: 1px solid transparent; }
  td.overflowing-from > div, td.overflowing-into > div {
    position: relative;
    z-index: 10;
    overflow: inherit;
  }
  td div div {
    overflow: hidden;
  }
  td.error div {
    color: #880000;
    background: #FFCCCC;
  }

  // left and right headers
  th.y, th.xy { border-left: none; }
  th.x, th.xy { border-top: none; }
  th.selected {
    color: $background;
    background: $selected;
    border: 1px solid transparent;
  }
  th {
    color: $selected;
    background: $background;
    border: 1px solid transparent;
    text-align: center;
  }

  // selection box
  .selection {
    z-index: 100;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border: 2px solid $selected;
  }
  .hide-top .selection { border-top: none; }
  .hide-left .selection { border-left: none; }
  .hide-right .selection { border-right: none; }
  .hide-bottom .selection { border-bottom: none; }
  .selection-wrapper {
    display: none;
    pointer-events: none;
    background:  rgba($selected, 0.05);
    .drag {
      pointer-events: auto;
      position: absolute;
      z-index: 100;
      width: 7px;
      height: 7px;
      right: -2px;
      bottom: -2px;
      background: $selected;
      cursor: se-resize;
    }
  }

  // input field
  .input-wrapper {
    position: absolute;
  }
  .input-wrapper.hidden {
    left: -1000px;
    top: -1000px;
  }
  .input {
    position: relative;
    top: -1px;
    left: -1px;
    z-index: 100;
    font-size: 13px;
    background: #FFFFFF;
    border: none;
    padding: 0 1px 1px 0px;
    text-indent: 3px;
    margin: 0;
    font-family: verdana;
    overflow: hidden;
    box-shadow: 0px 0px 3px #000;
  }
}

